<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
	<Properties>
		<Property name="log-path">/tmp</Property>
	</Properties>

	<Appenders>
		<RollingFile name="appLog" fileName="${log-path}/msgai-portal.log"
			filePattern="${log-path}/msgai-portal-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{sessionId}] %10X{userName} [%-5level] [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>

		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{sessionId}] %10X{userName} [%-5level] [%t] %c{1} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="ai.msg" level="debug" additivity="false">
			<appender-ref ref="appLog" level="debug" />
			<appender-ref ref="console" level="debug" />
		</Logger>
		<Logger name="org" level="warn" additivity="false">
			<appender-ref ref="appLog" level="warn" />
		</Logger>
		<Logger name="com" level="warn" additivity="false">
			<appender-ref ref="appLog" level="warn" />
		</Logger>
		<Root level="warn" additivity="false">
			<appender-ref ref="console" />
		</Root>
	</Loggers>
</Configuration>
