@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
/*****************************
Login Pages
******************************/
html{height:100%;}
textarea, input { outline: none; }
:focus {
  outline-color: transparent;
  outline-style: none;
  -webkit-appearance:none;
}
body{background:#f7f9fa; font-family:'Open Sans', sans-serif; font-weight:400;}

body{}

*::before, *::after { box-sizing: border-box;}
::-webkit-input-placeholder {color: #808080 !important; opacity:1;}
:-moz-placeholder {color:#808080 !important; opacity:1;}
::-moz-placeholder { color:#808080 !important; opacity:1;}
:-ms-input-placeholder { color:#808080 !important; opacity:1;}
/*.error{ border:1px solid rgba(208, 1, 26, 0.5) !important; }*/
.clearfix:before,
.clearfix:after,
{
  display: table;
  content: " ";
}
.clearfix:after
 {
  clear: both;
}

.marBot29px{margin-bottom: 29px !important; height:20px;}
.error {
	padding:0;
	color: #bd0218;
	font-size:14px;
	letter-spacing:0.3px;
	font-weight:300;
	
	/*border: 1px solid #ebccd1;
	border-radius: 5px;
	
	background-color: #f2dede;
	border-color:#ebccd1;*/
}

.msg {
	padding: 7px 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 5px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}




.form-signin{margin: 0 auto;  max-width: 330px; padding:0px;}
.loginbody{overflow:hidden;padding:0px; height:100%;}
.loginwrapper{background-color:#fcfcfc;	height:360px; /* firefox */ width:322px; margin:0 auto; border:1px solid #f2f2f2; border-radius:8px; padding:20px; box-sizing:border-box; position:absolute; left:50%; top:50%; margin:-205px 0px 0px -160px; }
.loginwrapper .container{display:table;	height:100%; width:100%;}
.loginwrapper .container .row{ padding:40px 0px; height:100%; display:table-cell; vertical-align:middle; width:100%;}
.loginareaBlock input[type="text"], .loginareaBlock input[type="password"] { background: #fcfcfc none repeat scroll 0 0 !important; border: 1px solid #e6e6e6; border-radius: 5px; box-shadow: none; color: #999; font-size: 14px; line-height: 20px;  margin: 0; letter-spacing:0.4px;} 
.logoArea{width:112px; height:40px; margin:20px auto 62px; display:block;}
.logoArea a {background: url("../images/logo.svg") 0px 1px no-repeat; background-size: 100% auto; display: block; height: 41px; text-indent: -9999em; width: 112px; outline:none;}
.loginareaBlock{ width:100%; margin:0px; padding:0px 0px !important; padding:0px; overflow:hidden;}
.loginareaBlock input[type="text"], .loginareaBlock input[type="password"]{margin:0px; border:1px solid #e6e6e6; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; background:#fcfcfc !important; font-size:16px; line-height:20px; color:#333333; -webkit-box-shadow: none; box-shadow: none; /*width:100%;*/ width:280px; letter-spacing:0.4px; height:36px; font-weight:300;}
footer { border-top: 1px solid #f2f2f2; margin-top:20px; position:fixed; bottom:0px; width:100%; height:49px; text-align:center; padding:15px 0px; color:#808080;font-size:14px;	 font-family:'Open Sans', sans-serif; font-weight:300;}
.form-group { margin-bottom: 20px; display:table; vertical-align:middle;}
.form-control { height: 36px; display:table-cell;}
.btn-default { border-color: #46a3e6; color: #46a3e6; background-color: #fcfcfc; font-size:16px; line-height:19px;padding:7px 30px 8px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; /*width:270px;*/ width:100%;  letter-spacing:0.4px; font-weight:400;}
.btn-default:focus,
.btn-default.focus {
  color: #46a3e6 !important;
  background-color: #f2f2f2 !important;
  border-color: #46a3e6 !important;
  outline: 0;
-webkit-box-shadow: none;
box-shadow: none;
}